@charset "UTF-8";


@media screen and (min-width:768px) {
    menu > ul > li  {
        display:inline-block;
        font-size: 0.9em;
        margin-top: 5px;
        border-radius: 100px;
        width: 150px;
        
    }


    #burguer{
        display: none;
    }
    #dados {
        font-size: 1.4em;
    }
    
    main {
        width: 768px;
        padding: 30px;
    }
}

