@charset "UTF-8";


@media screen and (min-width:768px){

    *{
        padding: 0px;
        margin: 0px;
    }

    body{
        width: 100vw;
    }

    header{
        width: 100vw;
    }

   

    #qrcode{
        width: 150px;
        display: block;
        margin-right: 5%;
       
    }

    menu{
        display: inline-block;

    }

    menu > ul > li  {
        display:inline-block;
        font-size: 0.9em;
        margin-top: 5px;
        width: 150px;
        
    }


    #burguer{
        display: none;
    }
    #dados {
        font-size: 1.3em;
    }
    
    main {
        width: 768px;
        padding-bottom: 20px;
       
    
    
    }
    
    fieldset{
        width:730px;
        margin: auto;
        margin-top: 15px;
        
    }
}

